<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.users.UserGroupMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.users.UserGroup" >
    <id column="GROUP_ID" property="groupId" javaType="int" />
    <result column="USER_ID" property="userId" javaType="string" />
    <result column="GROUP_NAME" property="groupName" javaType="string" />
    <result column="ORDER_NO" property="orderNo" javaType="string" />
    <result column="USER_STR" property="userStr" javaType="string" />
    <result column="LIMITS" property="limits" javaType="string" />
  </resultMap>
  <insert id="insertUserGroup" parameterType="com.xoa.model.users.UserGroup">
    insert into user_group(GROUP_NAME,ORDER_NO,USER_ID,USER_STR,LIMITS) VALUES (#{groupName},#{orderNo},#{userId},#{userStr},#{limits})
  </insert>
  <insert id="insertUserGroup" parameterType="com.xoa.model.users.UserGroup" databaseId="oracle">
    <selectKey keyProperty="groupId" order="BEFORE" resultType="int">
      SELECT  USER_GROUP_GROUP_ID_SEQ.nextval AS groupId FROM dual
    </selectKey>
    insert into user_group(GROUP_ID,GROUP_NAME,ORDER_NO,USER_ID,USER_STR,LIMITS) VALUES (#{groupId},#{groupName},#{orderNo},#{userId},#{userStr},#{limits})
  </insert>
  <insert id="insertUserGroup" parameterType="com.xoa.model.users.UserGroup" databaseId="dm">
    <selectKey keyProperty="groupId" order="BEFORE" resultType="int">
      SELECT  USER_GROUP_GROUP_ID_SEQ.nextval AS groupId FROM dual
    </selectKey>
    insert into user_group(GROUP_ID,GROUP_NAME,ORDER_NO,USER_ID,USER_STR,LIMITS) VALUES (#{groupId},#{groupName},#{orderNo},#{userId},#{userStr},#{limits})
  </insert>
  <update id="updateUserGroup" parameterType="com.xoa.model.users.UserGroup">
      update user_group
      <set>
        <if test="groupName!=null and groupName!=''">
          GROUP_NAME=#{groupName},
        </if>
        <if test="orderNo!=null and orderNo!=''">
          ORDER_NO=#{orderNo},
        </if>
        <if test="userStr!=null and userStr!=''">
          USER_STR=#{userStr}
        </if>
      </set>
     where GROUP_ID=#{groupId}
  </update>

  <select id="getAllUserGroup" resultMap="BaseResultMap" parameterType="string">
    SELECT  GROUP_ID,USER_ID,GROUP_NAME,ORDER_NO,USER_STR,LIMITS from user_group
    where
    <if test="userId !=null and userId != ''">
      USER_ID = #{userId} and
    </if>
    LIMITS = #{limits}
  </select>

  <select id="getUserGroupByGroupId" resultMap="BaseResultMap" parameterType="String">
    SELECT  GROUP_ID,USER_ID,GROUP_NAME,ORDER_NO,USER_STR,LIMITS from user_group WHERE  GROUP_ID=#{groupId}
  </select>

  <delete id="delUserGroupByGroupId" parameterType="String">
      DELETE  from user_group where GROUP_ID=#{groupId}
  </delete>

  <delete id="deleteUserGroupAll" parameterType="string">
    DELETE FROM user_group WHERE USER_STR in
    <foreach item="groupId" collection="array" open="(" separator="," close=")">
      <if test=' groupId!="" '>
        #{groupId}
      </if>
    </foreach>
  </delete>

</mapper>