<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.gw_device.GwDeviceSwitchMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.gw_device.GwDeviceSwitch" >
    <id column="SWITCH_ID" property="switchId" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType="VARCHAR" />
    <result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR" />
    <result column="SAFE_AREA" property="safeArea" jdbcType="VARCHAR" />
    <result column="OPERATION_MANAGEMENT_IP" property="operationManagementIp" jdbcType="VARCHAR" />
    <result column="UPDATE_FLAG" property="updateFlag" jdbcType="VARCHAR" />
    <result column="SEND_UP_FLAG" property="sendUpFlag" jdbcType="VARCHAR" />
    <result column="REPORT_FLAG" property="reportFlag" jdbcType="VARCHAR" />
    <result column="REGULATION_MARK" property="regulationMark" jdbcType="VARCHAR" />
    <result column="EQUIP_NAME" property="equipName" jdbcType="VARCHAR" />
    <result column="FULL_PATH_NAME" property="fullPathName" jdbcType="VARCHAR" />
    <result column="EQUIP_TYPE" property="equipType" jdbcType="VARCHAR" />
    <result column="MANUFACTURER" property="manufacturer" jdbcType="VARCHAR" />
    <result column="EQUIP_MODDEL" property="equipModdel" jdbcType="VARCHAR" />
    <result column="INSTALLATION_SITE" property="installationSite" jdbcType="VARCHAR" />
    <result column="RUNNING_STATE" property="runningState" jdbcType="VARCHAR" />
    <result column="DEVICES_NUMBER" property="devicesNumber" jdbcType="INTEGER" />
    <result column="START_U_BIT" property="startUBit" jdbcType="VARCHAR" />
    <result column="COMMISSIONING_DATE" property="commissioningDate" jdbcType="DATE" />
    <result column="RETURN_DATE" property="returnDate" jdbcType="DATE" />
    <result column="PERSON_LIABLE" property="personLiable" jdbcType="VARCHAR" />
    <result column="WARRANTY_EXPIRATION_DATE" property="warrantyExpirationDate" jdbcType="DATE" />
    <result column="ASSET_NUMBER" property="assetNumber" jdbcType="VARCHAR" />
    <result column="SEQUENCE_CODE" property="sequenceCode" jdbcType="VARCHAR" />
    <result column="NETWORK_ADDRESS" property="networkAddress" jdbcType="VARCHAR" />
    <result column="FIRMWARE_VERSION" property="firmwareVersion" jdbcType="VARCHAR" />
    <result column="NUMBER_OF_POWER_SUPPLIES" property="numberOfPowerSupplies" jdbcType="INTEGER" />
    <result column="NUMBER_OF_OPTICAL_PORTS" property="numberOfOpticalPorts" jdbcType="INTEGER" />
    <result column="NUMBER_OF_PORTS" property="numberOfPorts" jdbcType="INTEGER" />
    <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xoa.model.gw_device.GwDeviceSwitch" extends="BaseResultMap" >
    <result column="FUNC_INFO" property="funcInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SWITCH_ID, NODE_ID, NODE_NAME, SAFE_AREA, OPERATION_MANAGEMENT_IP, UPDATE_FLAG, SEND_UP_FLAG, 
    REPORT_FLAG, REGULATION_MARK, EQUIP_NAME, FULL_PATH_NAME, EQUIP_TYPE, MANUFACTURER, 
    EQUIP_MODDEL, INSTALLATION_SITE, RUNNING_STATE, DEVICES_NUMBER, START_U_BIT, COMMISSIONING_DATE, 
    RETURN_DATE, PERSON_LIABLE, WARRANTY_EXPIRATION_DATE, ASSET_NUMBER, SEQUENCE_CODE, 
    NETWORK_ADDRESS, FIRMWARE_VERSION, NUMBER_OF_POWER_SUPPLIES, NUMBER_OF_OPTICAL_PORTS, 
    NUMBER_OF_PORTS, EXCHANGE_RATE, CREATE_USER_ID, CREATE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    FUNC_INFO
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gw_device_switch
    where SWITCH_ID = #{switchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gw_device_switch
    where SWITCH_ID = #{switchId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xoa.model.gw_device.GwDeviceSwitch" >
    insert into gw_device_switch (SWITCH_ID, NODE_ID, NODE_NAME, 
      SAFE_AREA, OPERATION_MANAGEMENT_IP, UPDATE_FLAG, 
      SEND_UP_FLAG, REPORT_FLAG, REGULATION_MARK, 
      EQUIP_NAME, FULL_PATH_NAME, EQUIP_TYPE, 
      MANUFACTURER, EQUIP_MODDEL, INSTALLATION_SITE, 
      RUNNING_STATE, DEVICES_NUMBER, START_U_BIT, 
      COMMISSIONING_DATE, RETURN_DATE, PERSON_LIABLE, 
      WARRANTY_EXPIRATION_DATE, ASSET_NUMBER, SEQUENCE_CODE, 
      NETWORK_ADDRESS, FIRMWARE_VERSION, NUMBER_OF_POWER_SUPPLIES, 
      NUMBER_OF_OPTICAL_PORTS, NUMBER_OF_PORTS, EXCHANGE_RATE, 
      CREATE_USER_ID, CREATE_TIME, FUNC_INFO
      )
    values (#{switchId,jdbcType=INTEGER}, #{nodeId,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{safeArea,jdbcType=VARCHAR}, #{operationManagementIp,jdbcType=VARCHAR}, #{updateFlag,jdbcType=VARCHAR}, 
      #{sendUpFlag,jdbcType=VARCHAR}, #{reportFlag,jdbcType=VARCHAR}, #{regulationMark,jdbcType=VARCHAR}, 
      #{equipName,jdbcType=VARCHAR}, #{fullPathName,jdbcType=VARCHAR}, #{equipType,jdbcType=VARCHAR}, 
      #{manufacturer,jdbcType=VARCHAR}, #{equipModdel,jdbcType=VARCHAR}, #{installationSite,jdbcType=VARCHAR}, 
      #{runningState,jdbcType=VARCHAR}, #{devicesNumber,jdbcType=INTEGER}, #{startUBit,jdbcType=VARCHAR}, 
      #{commissioningDate,jdbcType=DATE}, #{returnDate,jdbcType=DATE}, #{personLiable,jdbcType=VARCHAR}, 
      #{warrantyExpirationDate,jdbcType=DATE}, #{assetNumber,jdbcType=VARCHAR}, #{sequenceCode,jdbcType=VARCHAR}, 
      #{networkAddress,jdbcType=VARCHAR}, #{firmwareVersion,jdbcType=VARCHAR}, #{numberOfPowerSupplies,jdbcType=INTEGER}, 
      #{numberOfOpticalPorts,jdbcType=INTEGER}, #{numberOfPorts,jdbcType=INTEGER}, #{exchangeRate,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{funcInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xoa.model.gw_device.GwDeviceSwitch" >
    insert into gw_device_switch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="switchId != null" >
        SWITCH_ID,
      </if>
      <if test="nodeId != null" >
        NODE_ID,
      </if>
      <if test="nodeName != null" >
        NODE_NAME,
      </if>
      <if test="safeArea != null" >
        SAFE_AREA,
      </if>
      <if test="operationManagementIp != null" >
        OPERATION_MANAGEMENT_IP,
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG,
      </if>
      <if test="sendUpFlag != null" >
        SEND_UP_FLAG,
      </if>
      <if test="reportFlag != null" >
        REPORT_FLAG,
      </if>
      <if test="regulationMark != null" >
        REGULATION_MARK,
      </if>
      <if test="equipName != null" >
        EQUIP_NAME,
      </if>
      <if test="fullPathName != null" >
        FULL_PATH_NAME,
      </if>
      <if test="equipType != null" >
        EQUIP_TYPE,
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER,
      </if>
      <if test="equipModdel != null" >
        EQUIP_MODDEL,
      </if>
      <if test="installationSite != null" >
        INSTALLATION_SITE,
      </if>
      <if test="runningState != null" >
        RUNNING_STATE,
      </if>
      <if test="devicesNumber != null" >
        DEVICES_NUMBER,
      </if>
      <if test="startUBit != null" >
        START_U_BIT,
      </if>
      <if test="commissioningDate != null" >
        COMMISSIONING_DATE,
      </if>
      <if test="returnDate != null" >
        RETURN_DATE,
      </if>
      <if test="personLiable != null" >
        PERSON_LIABLE,
      </if>
      <if test="warrantyExpirationDate != null" >
        WARRANTY_EXPIRATION_DATE,
      </if>
      <if test="assetNumber != null" >
        ASSET_NUMBER,
      </if>
      <if test="sequenceCode != null" >
        SEQUENCE_CODE,
      </if>
      <if test="networkAddress != null" >
        NETWORK_ADDRESS,
      </if>
      <if test="firmwareVersion != null" >
        FIRMWARE_VERSION,
      </if>
      <if test="numberOfPowerSupplies != null" >
        NUMBER_OF_POWER_SUPPLIES,
      </if>
      <if test="numberOfOpticalPorts != null" >
        NUMBER_OF_OPTICAL_PORTS,
      </if>
      <if test="numberOfPorts != null" >
        NUMBER_OF_PORTS,
      </if>
      <if test="exchangeRate != null" >
        EXCHANGE_RATE,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="funcInfo != null" >
        FUNC_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="switchId != null" >
        #{switchId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="safeArea != null" >
        #{safeArea,jdbcType=VARCHAR},
      </if>
      <if test="operationManagementIp != null" >
        #{operationManagementIp,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        #{updateFlag,jdbcType=VARCHAR},
      </if>
      <if test="sendUpFlag != null" >
        #{sendUpFlag,jdbcType=VARCHAR},
      </if>
      <if test="reportFlag != null" >
        #{reportFlag,jdbcType=VARCHAR},
      </if>
      <if test="regulationMark != null" >
        #{regulationMark,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="fullPathName != null" >
        #{fullPathName,jdbcType=VARCHAR},
      </if>
      <if test="equipType != null" >
        #{equipType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipModdel != null" >
        #{equipModdel,jdbcType=VARCHAR},
      </if>
      <if test="installationSite != null" >
        #{installationSite,jdbcType=VARCHAR},
      </if>
      <if test="runningState != null" >
        #{runningState,jdbcType=VARCHAR},
      </if>
      <if test="devicesNumber != null" >
        #{devicesNumber,jdbcType=INTEGER},
      </if>
      <if test="startUBit != null" >
        #{startUBit,jdbcType=VARCHAR},
      </if>
      <if test="commissioningDate != null" >
        #{commissioningDate,jdbcType=DATE},
      </if>
      <if test="returnDate != null" >
        #{returnDate,jdbcType=DATE},
      </if>
      <if test="personLiable != null" >
        #{personLiable,jdbcType=VARCHAR},
      </if>
      <if test="warrantyExpirationDate != null" >
        #{warrantyExpirationDate,jdbcType=DATE},
      </if>
      <if test="assetNumber != null" >
        #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="sequenceCode != null" >
        #{sequenceCode,jdbcType=VARCHAR},
      </if>
      <if test="networkAddress != null" >
        #{networkAddress,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null" >
        #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="numberOfPowerSupplies != null" >
        #{numberOfPowerSupplies,jdbcType=INTEGER},
      </if>
      <if test="numberOfOpticalPorts != null" >
        #{numberOfOpticalPorts,jdbcType=INTEGER},
      </if>
      <if test="numberOfPorts != null" >
        #{numberOfPorts,jdbcType=INTEGER},
      </if>
      <if test="exchangeRate != null" >
        #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="funcInfo != null" >
        #{funcInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xoa.model.gw_device.GwDeviceSwitch" >
    update gw_device_switch
    <set >
      <if test="nodeId != null" >
        NODE_ID = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="safeArea != null" >
        SAFE_AREA = #{safeArea,jdbcType=VARCHAR},
      </if>
      <if test="operationManagementIp != null" >
        OPERATION_MANAGEMENT_IP = #{operationManagementIp,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG = #{updateFlag,jdbcType=VARCHAR},
      </if>
      <if test="sendUpFlag != null" >
        SEND_UP_FLAG = #{sendUpFlag,jdbcType=VARCHAR},
      </if>
      <if test="reportFlag != null" >
        REPORT_FLAG = #{reportFlag,jdbcType=VARCHAR},
      </if>
      <if test="regulationMark != null" >
        REGULATION_MARK = #{regulationMark,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        EQUIP_NAME = #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="fullPathName != null" >
        FULL_PATH_NAME = #{fullPathName,jdbcType=VARCHAR},
      </if>
      <if test="equipType != null" >
        EQUIP_TYPE = #{equipType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipModdel != null" >
        EQUIP_MODDEL = #{equipModdel,jdbcType=VARCHAR},
      </if>
      <if test="installationSite != null" >
        INSTALLATION_SITE = #{installationSite,jdbcType=VARCHAR},
      </if>
      <if test="runningState != null" >
        RUNNING_STATE = #{runningState,jdbcType=VARCHAR},
      </if>
      <if test="devicesNumber != null" >
        DEVICES_NUMBER = #{devicesNumber,jdbcType=INTEGER},
      </if>
      <if test="startUBit != null" >
        START_U_BIT = #{startUBit,jdbcType=VARCHAR},
      </if>
      <if test="commissioningDate != null" >
        COMMISSIONING_DATE = #{commissioningDate,jdbcType=DATE},
      </if>
      <if test="returnDate != null" >
        RETURN_DATE = #{returnDate,jdbcType=DATE},
      </if>
      <if test="personLiable != null" >
        PERSON_LIABLE = #{personLiable,jdbcType=VARCHAR},
      </if>
      <if test="warrantyExpirationDate != null" >
        WARRANTY_EXPIRATION_DATE = #{warrantyExpirationDate,jdbcType=DATE},
      </if>
      <if test="assetNumber != null" >
        ASSET_NUMBER = #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="sequenceCode != null" >
        SEQUENCE_CODE = #{sequenceCode,jdbcType=VARCHAR},
      </if>
      <if test="networkAddress != null" >
        NETWORK_ADDRESS = #{networkAddress,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null" >
        FIRMWARE_VERSION = #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="numberOfPowerSupplies != null" >
        NUMBER_OF_POWER_SUPPLIES = #{numberOfPowerSupplies,jdbcType=INTEGER},
      </if>
      <if test="numberOfOpticalPorts != null" >
        NUMBER_OF_OPTICAL_PORTS = #{numberOfOpticalPorts,jdbcType=INTEGER},
      </if>
      <if test="numberOfPorts != null" >
        NUMBER_OF_PORTS = #{numberOfPorts,jdbcType=INTEGER},
      </if>
      <if test="exchangeRate != null" >
        EXCHANGE_RATE = #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="funcInfo != null" >
        FUNC_INFO = #{funcInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SWITCH_ID = #{switchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xoa.model.gw_device.GwDeviceSwitch" >
    update gw_device_switch
    set NODE_ID = #{nodeId,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      SAFE_AREA = #{safeArea,jdbcType=VARCHAR},
      OPERATION_MANAGEMENT_IP = #{operationManagementIp,jdbcType=VARCHAR},
      UPDATE_FLAG = #{updateFlag,jdbcType=VARCHAR},
      SEND_UP_FLAG = #{sendUpFlag,jdbcType=VARCHAR},
      REPORT_FLAG = #{reportFlag,jdbcType=VARCHAR},
      REGULATION_MARK = #{regulationMark,jdbcType=VARCHAR},
      EQUIP_NAME = #{equipName,jdbcType=VARCHAR},
      FULL_PATH_NAME = #{fullPathName,jdbcType=VARCHAR},
      EQUIP_TYPE = #{equipType,jdbcType=VARCHAR},
      MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      EQUIP_MODDEL = #{equipModdel,jdbcType=VARCHAR},
      INSTALLATION_SITE = #{installationSite,jdbcType=VARCHAR},
      RUNNING_STATE = #{runningState,jdbcType=VARCHAR},
      DEVICES_NUMBER = #{devicesNumber,jdbcType=INTEGER},
      START_U_BIT = #{startUBit,jdbcType=VARCHAR},
      COMMISSIONING_DATE = #{commissioningDate,jdbcType=DATE},
      RETURN_DATE = #{returnDate,jdbcType=DATE},
      PERSON_LIABLE = #{personLiable,jdbcType=VARCHAR},
      WARRANTY_EXPIRATION_DATE = #{warrantyExpirationDate,jdbcType=DATE},
      ASSET_NUMBER = #{assetNumber,jdbcType=VARCHAR},
      SEQUENCE_CODE = #{sequenceCode,jdbcType=VARCHAR},
      NETWORK_ADDRESS = #{networkAddress,jdbcType=VARCHAR},
      FIRMWARE_VERSION = #{firmwareVersion,jdbcType=VARCHAR},
      NUMBER_OF_POWER_SUPPLIES = #{numberOfPowerSupplies,jdbcType=INTEGER},
      NUMBER_OF_OPTICAL_PORTS = #{numberOfOpticalPorts,jdbcType=INTEGER},
      NUMBER_OF_PORTS = #{numberOfPorts,jdbcType=INTEGER},
      EXCHANGE_RATE = #{exchangeRate,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      FUNC_INFO = #{funcInfo,jdbcType=LONGVARCHAR}
    where SWITCH_ID = #{switchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xoa.model.gw_device.GwDeviceSwitch" >
    update gw_device_switch
    set NODE_ID = #{nodeId,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      SAFE_AREA = #{safeArea,jdbcType=VARCHAR},
      OPERATION_MANAGEMENT_IP = #{operationManagementIp,jdbcType=VARCHAR},
      UPDATE_FLAG = #{updateFlag,jdbcType=VARCHAR},
      SEND_UP_FLAG = #{sendUpFlag,jdbcType=VARCHAR},
      REPORT_FLAG = #{reportFlag,jdbcType=VARCHAR},
      REGULATION_MARK = #{regulationMark,jdbcType=VARCHAR},
      EQUIP_NAME = #{equipName,jdbcType=VARCHAR},
      FULL_PATH_NAME = #{fullPathName,jdbcType=VARCHAR},
      EQUIP_TYPE = #{equipType,jdbcType=VARCHAR},
      MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      EQUIP_MODDEL = #{equipModdel,jdbcType=VARCHAR},
      INSTALLATION_SITE = #{installationSite,jdbcType=VARCHAR},
      RUNNING_STATE = #{runningState,jdbcType=VARCHAR},
      DEVICES_NUMBER = #{devicesNumber,jdbcType=INTEGER},
      START_U_BIT = #{startUBit,jdbcType=VARCHAR},
      COMMISSIONING_DATE = #{commissioningDate,jdbcType=DATE},
      RETURN_DATE = #{returnDate,jdbcType=DATE},
      PERSON_LIABLE = #{personLiable,jdbcType=VARCHAR},
      WARRANTY_EXPIRATION_DATE = #{warrantyExpirationDate,jdbcType=DATE},
      ASSET_NUMBER = #{assetNumber,jdbcType=VARCHAR},
      SEQUENCE_CODE = #{sequenceCode,jdbcType=VARCHAR},
      NETWORK_ADDRESS = #{networkAddress,jdbcType=VARCHAR},
      FIRMWARE_VERSION = #{firmwareVersion,jdbcType=VARCHAR},
      NUMBER_OF_POWER_SUPPLIES = #{numberOfPowerSupplies,jdbcType=INTEGER},
      NUMBER_OF_OPTICAL_PORTS = #{numberOfOpticalPorts,jdbcType=INTEGER},
      NUMBER_OF_PORTS = #{numberOfPorts,jdbcType=INTEGER},
      EXCHANGE_RATE = #{exchangeRate,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where SWITCH_ID = #{switchId,jdbcType=INTEGER}
  </update>

  <select id="serch" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gw_device_switch
    <where>
      <if test="model.nodeId!=null and model.nodeId!=''">
        and NODE_ID LIKE concat('%', #{model.nodeId}, '%')
      </if>
      <if test="model.nodeName!=null and model.nodeName!=''">
        and NODE_NAME LIKE concat('%', #{model.nodeName}, '%')
      </if>
      <if test="model.safeArea!=null and model.safeArea!=''">
        and SAFE_AREA = #{model.safeArea}
      </if>
      <if test="model.operationManagementIp!=null and model.operationManagementIp!=''">
        and OPERATION_MANAGEMENT_IP LIKE concat('%', #{model.operationManagementIp}, '%')
      </if>
      <if test="model.equipName!=null and model.equipName!=''">
        and EQUIP_NAME LIKE concat('%', #{model.equipName}, '%')
      </if>
      <if test="model.equipType!=null and model.equipType!=''">
        and EQUIP_TYPE =  #{model.equipType}
      </if>
      <if test="model.runningState!=null and model.runningState!=''">
        and RUNNING_STATE =  #{model.runningState}
      </if>
      <if test="model.assetNumber!=null and model.assetNumber!=''">
        and ASSET_NUMBER LIKE concat('%', #{model.assetNumber}, '%')
      </if>
    </where>
  </select>


  <insert id="insertByObject" parameterType="com.xoa.model.gw_device.GwDeviceAll" >
    insert into gw_device_switch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="switchId != null" >
        SWITCH_ID,
      </if>
      <if test="nodeId != null" >
        NODE_ID,
      </if>
      <if test="nodeName != null" >
        NODE_NAME,
      </if>
      <if test="safeArea != null" >
        SAFE_AREA,
      </if>
      <if test="operationManagementIp != null" >
        OPERATION_MANAGEMENT_IP,
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG,
      </if>
      <if test="sendUpFlag != null" >
        SEND_UP_FLAG,
      </if>
      <if test="reportFlag != null" >
        REPORT_FLAG,
      </if>
      <if test="regulationMark != null" >
        REGULATION_MARK,
      </if>
      <if test="equipName != null" >
        EQUIP_NAME,
      </if>
      <if test="fullPathName != null" >
        FULL_PATH_NAME,
      </if>
      <if test="equipType != null" >
        EQUIP_TYPE,
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER,
      </if>
      <if test="equipModdel != null" >
        EQUIP_MODDEL,
      </if>
      <if test="installationSite != null" >
        INSTALLATION_SITE,
      </if>
      <if test="runningState != null" >
        RUNNING_STATE,
      </if>
      <if test="devicesNumber != null" >
        DEVICES_NUMBER,
      </if>
      <if test="startUBit != null" >
        START_U_BIT,
      </if>
      <if test="commissioningDate != null" >
        COMMISSIONING_DATE,
      </if>
      <if test="returnDate != null" >
        RETURN_DATE,
      </if>
      <if test="personLiable != null" >
        PERSON_LIABLE,
      </if>
      <if test="warrantyExpirationDate != null" >
        WARRANTY_EXPIRATION_DATE,
      </if>
      <if test="assetNumber != null" >
        ASSET_NUMBER,
      </if>
      <if test="sequenceCode != null" >
        SEQUENCE_CODE,
      </if>
      <if test="networkAddress != null" >
        NETWORK_ADDRESS,
      </if>
      <if test="firmwareVersion != null" >
        FIRMWARE_VERSION,
      </if>
      <if test="numberOfPowerSupplies != null" >
        NUMBER_OF_POWER_SUPPLIES,
      </if>
      <if test="numberOfOpticalPorts != null" >
        NUMBER_OF_OPTICAL_PORTS,
      </if>
      <if test="numberOfPorts != null" >
        NUMBER_OF_PORTS,
      </if>
      <if test="exchangeRate != null" >
        EXCHANGE_RATE,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="funcInfo != null" >
        FUNC_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="switchId != null" >
        #{switchId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="safeArea != null" >
        #{safeArea,jdbcType=VARCHAR},
      </if>
      <if test="operationManagementIp != null" >
        #{operationManagementIp,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        #{updateFlag,jdbcType=VARCHAR},
      </if>
      <if test="sendUpFlag != null" >
        #{sendUpFlag,jdbcType=VARCHAR},
      </if>
      <if test="reportFlag != null" >
        #{reportFlag,jdbcType=VARCHAR},
      </if>
      <if test="regulationMark != null" >
        #{regulationMark,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="fullPathName != null" >
        #{fullPathName,jdbcType=VARCHAR},
      </if>
      <if test="equipType != null" >
        #{equipType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipModdel != null" >
        #{equipModdel,jdbcType=VARCHAR},
      </if>
      <if test="installationSite != null" >
        #{installationSite,jdbcType=VARCHAR},
      </if>
      <if test="runningState != null" >
        #{runningState,jdbcType=VARCHAR},
      </if>
      <if test="devicesNumber != null" >
        #{devicesNumber,jdbcType=INTEGER},
      </if>
      <if test="startUBit != null" >
        #{startUBit,jdbcType=VARCHAR},
      </if>
      <if test="commissioningDate != null" >
        #{commissioningDate,jdbcType=DATE},
      </if>
      <if test="returnDate != null" >
        #{returnDate,jdbcType=DATE},
      </if>
      <if test="personLiable != null" >
        #{personLiable,jdbcType=VARCHAR},
      </if>
      <if test="warrantyExpirationDate != null" >
        #{warrantyExpirationDate,jdbcType=DATE},
      </if>
      <if test="assetNumber != null" >
        #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="sequenceCode != null" >
        #{sequenceCode,jdbcType=VARCHAR},
      </if>
      <if test="networkAddress != null" >
        #{networkAddress,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null" >
        #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="numberOfPowerSupplies != null" >
        #{numberOfPowerSupplies,jdbcType=INTEGER},
      </if>
      <if test="numberOfOpticalPorts != null" >
        #{numberOfOpticalPorts,jdbcType=INTEGER},
      </if>
      <if test="numberOfPorts != null" >
        #{numberOfPorts,jdbcType=INTEGER},
      </if>
      <if test="exchangeRate != null" >
        #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="funcInfo != null" >
        #{funcInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByObject" parameterType="com.xoa.model.gw_device.GwDeviceAll" >
    update gw_device_switch
    <set >
      <if test="nodeId != null" >
        NODE_ID = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="safeArea != null" >
        SAFE_AREA = #{safeArea,jdbcType=VARCHAR},
      </if>
      <if test="operationManagementIp != null" >
        OPERATION_MANAGEMENT_IP = #{operationManagementIp,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG = #{updateFlag,jdbcType=VARCHAR},
      </if>
      <if test="sendUpFlag != null" >
        SEND_UP_FLAG = #{sendUpFlag,jdbcType=VARCHAR},
      </if>
      <if test="reportFlag != null" >
        REPORT_FLAG = #{reportFlag,jdbcType=VARCHAR},
      </if>
      <if test="regulationMark != null" >
        REGULATION_MARK = #{regulationMark,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        EQUIP_NAME = #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="fullPathName != null" >
        FULL_PATH_NAME = #{fullPathName,jdbcType=VARCHAR},
      </if>
      <if test="equipType != null" >
        EQUIP_TYPE = #{equipType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipModdel != null" >
        EQUIP_MODDEL = #{equipModdel,jdbcType=VARCHAR},
      </if>
      <if test="installationSite != null" >
        INSTALLATION_SITE = #{installationSite,jdbcType=VARCHAR},
      </if>
      <if test="runningState != null" >
        RUNNING_STATE = #{runningState,jdbcType=VARCHAR},
      </if>
      <if test="devicesNumber != null" >
        DEVICES_NUMBER = #{devicesNumber,jdbcType=INTEGER},
      </if>
      <if test="startUBit != null" >
        START_U_BIT = #{startUBit,jdbcType=VARCHAR},
      </if>
      <if test="commissioningDate != null" >
        COMMISSIONING_DATE = #{commissioningDate,jdbcType=DATE},
      </if>
      <if test="returnDate != null" >
        RETURN_DATE = #{returnDate,jdbcType=DATE},
      </if>
      <if test="personLiable != null" >
        PERSON_LIABLE = #{personLiable,jdbcType=VARCHAR},
      </if>
      <if test="warrantyExpirationDate != null" >
        WARRANTY_EXPIRATION_DATE = #{warrantyExpirationDate,jdbcType=DATE},
      </if>
      <if test="assetNumber != null" >
        ASSET_NUMBER = #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="sequenceCode != null" >
        SEQUENCE_CODE = #{sequenceCode,jdbcType=VARCHAR},
      </if>
      <if test="networkAddress != null" >
        NETWORK_ADDRESS = #{networkAddress,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null" >
        FIRMWARE_VERSION = #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="numberOfPowerSupplies != null" >
        NUMBER_OF_POWER_SUPPLIES = #{numberOfPowerSupplies,jdbcType=INTEGER},
      </if>
      <if test="numberOfOpticalPorts != null" >
        NUMBER_OF_OPTICAL_PORTS = #{numberOfOpticalPorts,jdbcType=INTEGER},
      </if>
      <if test="numberOfPorts != null" >
        NUMBER_OF_PORTS = #{numberOfPorts,jdbcType=INTEGER},
      </if>
      <if test="exchangeRate != null" >
        EXCHANGE_RATE = #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="funcInfo != null" >
        FUNC_INFO = #{funcInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SWITCH_ID = #{switchId,jdbcType=INTEGER}
  </update>
</mapper>