<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.xoa.dao.attendance.attendanceway.AttendanceWayMapper" >
    <!--//获取考勤方式字段
    public String getDutyMachine();-->
    <select id="getDutyMachine" resultType="String">
        SELECT PARA_VALUE FROM sys_para WHERE PARA_NAME='DUTY_MACHINE'
    </select>

    <!--//修改考勤方式
    public int updateDutyMachine(String dutyMachine);-->
    <update id="updateDutyMachine" parameterType="String">
      UPDATE sys_para SET PARA_VALUE=#{dutyMachine} WHERE PARA_NAME='DUTY_MACHINE'
    </update>

</mapper>