<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.attend.AttendHolidayMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.attend.AttendHoliday" >
    <id column="HOLIDAY_ID" property="holidayId" jdbcType="INTEGER" />
    <result column="HOLIDAY_NAME" property="holidayName" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="LONGVARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="LONGVARCHAR" />
    <result column="PRIV_ID" property="privId" jdbcType="LONGVARCHAR" />
    <result column="BEGIN_DATE" property="beginDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.xoa.model.attend.AttendExtraWork" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EXTRA_WORK_NAME" property="extraWorkName" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="LONGVARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="LONGVARCHAR" />
    <result column="PRIV_ID" property="privId" jdbcType="LONGVARCHAR" />
    <result column="BEGIN_DATE" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    HOLIDAY_ID, HOLIDAY_NAME, BEGIN_DATE, END_DATE,USER_ID,DEPT_ID,PRIV_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from attend_holiday
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from attend_holiday
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xoa.model.attend.AttendHoliday" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into attend_holiday (HOLIDAY_ID, HOLIDAY_NAME, USER_ID,DEPT_ID,PRIV_ID ,
    BEGIN_DATE, END_DATE)
    values (#{holidayId,jdbcType=INTEGER}, #{holidayName,jdbcType=VARCHAR},#{userId,jdbcType=LONGVARCHAR},#{deptId,jdbcType=LONGVARCHAR},#{privId,jdbcType=LONGVARCHAR},
    #{beginDate,jdbcType=DATE}, #{endDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.xoa.model.attend.AttendHoliday" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into attend_holiday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="holidayId != null" >
        HOLIDAY_ID,
      </if>
      <if test="holidayName != null" >
        HOLIDAY_NAME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="privId != null" >
        PRIV_ID,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="holidayId != null" >
        #{holidayId,jdbcType=INTEGER},
      </if>
      <if test="holidayName != null" >
        #{holidayName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=LONGVARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=LONGVARCHAR},
      </if>
      <if test="privId != null" >
        #{privId,jdbcType=LONGVARCHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xoa.model.attend.AttendHoliday" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update attend_holiday
    <set >
      <if test="holidayName != null" >
        HOLIDAY_NAME = #{holidayName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=LONGVARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=LONGVARCHAR},
      </if>
      <if test="privId != null" >
        PRIV_ID = #{privId,jdbcType=LONGVARCHAR},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
    </set>
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xoa.model.attend.AttendHoliday" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update attend_holiday
    set HOLIDAY_NAME = #{holidayName,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=LONGVARCHAR},
      DEPT_ID = #{deptId,jdbcType=LONGVARCHAR},
      PRIV_ID = #{privId,jdbcType=LONGVARCHAR},
      BEGIN_DATE = #{beginDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE}
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </update>

  <select id="selectHoliday" parameterType="com.xoa.model.attend.AttendHoliday" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>  from attend_holiday
  </select>



  <insert id="insertExtraWork" parameterType="com.xoa.model.attend.AttendExtraWork" >
    insert into attend_extrawork
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="extraWorkName != null" >
        EXTRA_WORK_NAME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="privId != null" >
        PRIV_ID,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="extraWorkName != null" >
        #{extraWorkName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=LONGVARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=LONGVARCHAR},
      </if>
      <if test="privId != null" >
        #{privId,jdbcType=LONGVARCHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateExtraWork" parameterType="com.xoa.model.attend.AttendExtraWork" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update attend_extrawork
    <set >
      <if test="extraWorkName != null" >
        EXTRA_WORK_NAME = #{extraWorkName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=LONGVARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=LONGVARCHAR},
      </if>
      <if test="privId != null" >
        PRIV_ID = #{privId,jdbcType=LONGVARCHAR},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteExtraWork" parameterType="java.lang.Integer" >
    delete from attend_extrawork
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectExtraWorkById" resultMap="BaseResultMap2" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    ID, EXTRA_WORK_NAME,USER_ID,DEPT_ID,PRIV_ID, BEGIN_DATE, END_DATE
    from attend_extrawork
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="getAttendExtraworkList" resultMap="BaseResultMap2">
    SELECT * FROM attend_extrawork
  </select>

  <select id="selHolidayByMonth" resultMap="BaseResultMap">
    SELECT * FROM attend_holiday WHERE BEGIN_DATE &gt;= #{beginDate} AND BEGIN_DATE &lt;= #{endDate}
  </select>

  <select id="selHolidayByDay" resultMap="BaseResultMap">
    SELECT HOLIDAY_NAME FROM attend_holiday WHERE  #{newDate} >= BEGIN_DATE AND END_DATE >= #{newDate}
  </select>

</mapper>