body{
    padding-top:10px;
    padding-bottom: 10px;
}
.e_title{
    color: black!important;
}
.new_total li:hover .new_title{
    color: #0A282F!important;
}
.e_mail li:hover{
    color:#0A282F!important;
}


.topmain{
    width: 98%;
    margin:0 auto;
}
.topmain>div{
    width: 32.5%;
    float: left;
    height: 460px;
}
.daiban{
    height: 187px;
    background: #fff;
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.2);*/
}
.daibantop{
    height: 102px;
}
.daibantop .left{
    width: 32%;
    height: 100%;
    background: #005825;
    text-align: center;
}
.daibantop .rightOld{
    width: 68%;
    height: 100%;
}
.daibantop .right{
    width: 24.6%;
    height: 100%;
    background: #005825;
    text-align: center;
    border:#005825 1px solid;
}
.daibantop .rights{
    width:74.3%;
    height: 100%;
    border:#005825 1px solid;
    border-left-style:none


}

.daibantop .rightOld>div {
    width: 99%;
    /*margin-left: 5%;*/
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.daibantop .right>div{
    width: 99%;
    /*margin-left: 1%;*/
    /*height: 100%;*/
    box-sizing: border-box;
    /*border-bottom: 1px solid #3794cf;*/
}
.daibantop .right div>img{
    width: 50px;
    margin-top: 27px;
    margin-left:34%;
}
.daibantop .right div>span{
    width: 25%;
    margin-top:28px;
    margin-left: 6%;
}
.daibantop .right div>span strong{
    font-size: 8pt;
    display: block;
    color: #fff;
    overflow: hidden;
    text-overflow:ellipsis;
    /*white-space: nowrap;*/
    width: 100%;
    margin-left:-50%;
    margin-top: 10%;
}
.daibantop .right div>span label{
    font-size: 8px;
    color: #fff;
    display: block;
    text-overflow:ellipsis;
    /*white-space: nowrap;*/
    width: 140%;
    height: 30%;
    margin-left:-70%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 5%;

}
.daibanbuttom{
    height: 85px;
}
.daibanbuttom .left{
    width: 24.6%;
    height: 98.2%;
    background: #e8fcf0fc;
    text-align: center;
    border:#005825 ;
    border:#005825 1px solid;
    border-left-style:none
}
.daibanbuttom .leftOld{
    width: 32%;
    height: 100%;
    background: #fdd350;
    text-align: center;
}
.workflowNumOld{
    font-size: 21px!important;
    color: #fd770c;
    line-height: 31px;
}
.daibanbuttom .lefts{
    width: 24.6%;
    height:98.2%;
    background:#e8fcf0;
    text-align: center;
    border:#005825 ;
    border:#005825 1px solid;
    border-left-style:none
}
.daibanbuttom .left1{
    width: 24.6%;
    height: 98.2%;
    background: #e8fcf0;
    text-align: center;
    border:#005825 1px solid;

}
.daibanbuttom .left2{
    width: 24.6%;
    height: 98.2%;
    background:#e8fcf0;
    text-align: center;
    border:#005825 ;
    border:#005825 1px solid;
    border-left-style:none
}
.daibanbuttom .left p{
    color: #005825!important;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.daibanbuttom .leftOld  p{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.daibanbuttom .lefts p{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14pt;
    line-height: 26px;
    text-align: center;
    color: #005825;
}
.new_title{
    color: black;
}
.daibanbuttom .left2 p{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14pt;
    line-height: 26px;
    text-align: center;
    color: #005825!important;
}
.daibanbuttom .left1 p{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14pt;
    line-height: 26px;
    text-align: center;
    color: #005825;
}
.daibanbuttom .left p>span{
    font-weight: normal;
    font-size: 18px;
    color: #005825!important;
}
.worknums{
    color: #005825!important;
}
.daibanbuttom .right{
    width: 68%;
    height: 100%;
}
.daibanbuttom .right .top{
    width: 96%;
    margin-left: 5%;
    line-height: 28px;
    font-size: 14px;
    margin-top: 5px;
}
.daibanbuttom .right .buttom{
    width: 96%;
    margin-left: 5%;
    font-size:20px;
    color: #fd770c;
    line-height: 40px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.changyong{
    width: 100%;
    height: 268px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin-top:7px;
}
.pbg{
    position: relative;
    width: 100%;
    height:37px;
    line-height:37px;
    background: #f0f7ff;
}
.titleleft{
    background: url("/img/main_img/titleleft.png") no-repeat;
    width: 106px;
    height: 46px;
    line-height: 37px;
    position: absolute;
    left: -7px;
    top:0px;
    /*font-size: 16px;*/
    font-size: 13pt;
    padding-left: 16px;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
    box-sizing: border-box;
}
.changyongmain{
    width: 100%;
    height: 231px;
    padding:5px;
    box-sizing: border-box;
    overflow-y: auto;
}
.changyongmain li{
    width: 80px;
    text-align: center;
    padding:5px 0px;
    margin: 0px 11px;
}
.changyongmain li h4{
    /*font-size: 14px;*/
    font-size: 11pt;
    color: #005825;
    font-weight: normal;
}
.changyongmain li:hover{
    background: #e9f3ff;
    cursor: pointer;
}
.topmaincenter{
    margin:0 1%;
    background: #fff;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: center;
}
.topmaincenter>img{
    width: 95%;
    border-radius: 4px;
    height: 195px;
    margin-top:13px;
}
.textmain{
    width: 95%;
    height: 87px;
    text-align: left;
    margin: 0 auto;
    margin-top:4px;
    border-bottom: 1px solid #ddd;
}

.overhides{
    width: 15em;
    overflow: hidden;
    display: inline-block;
    height: 24px;
    vertical-align: text-bottom;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.textmain .title{
    line-height: 24px;
}
.textmain .title strong{
    /*font-size: 16px;*/
    font-size: 13pt;
    letter-spacing: 1px;
    color: #2c1e1e;
    width:70%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.textmain .title strong:hover{
    color: #005825;
}



.textmain .title a{
    /*font-size: 14px;*/
    font-size: 11pt;
    color: #666;
    letter-spacing: 1px;
}
.pmain{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    line-height:21px;
    /*font-size: 14px;*/
    font-size: 11pt;
    color: #999;
    height:41px;
}

.topmainright{
    background: #fff;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: center;
}
#ca{
    width: 95%;
    height: 280px;
    margin:0 auto;
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
}
.topmainright-main{
    width: 95%;
    margin:0 auto;
    height:110px;
    padding:5px 0px;
    text-align: left;
    overflow: auto;
}
.topmainright-main li{
    line-height:30px;
    margin-top:5px;
}
.buttommain{
    width: 98.2%;
    margin: 0 auto;
    margin-top: 10px;
    height: 266px;
}
.buttommain>div{
    width: 32.5%;
    float: left;
    height: 100%;
}
.buttommainleft{
    background: #fff;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: center;
}
.navigations{
    margin-right: 5px;
}
.navigations span{
    padding:1px 4px;
    background: #fff;
    color: #005825;
    border:1px solid #005825;
    border-radius: 3px;
    margin:0px 2px;
    font-size: 12px;
    cursor: pointer;
}
.navigations span.active{
    color: #fff;
    background:#005825 ;
}
.buttommai-main{
    width: 95%;
    height:220px;
    overflow: auto;
    margin:0 auto;
}
.buttommai-main li{
    height: 46px;
    border-bottom: 1px solid #ddd;
    margin-top:7px;
    cursor: pointer;
    padding:0px 10px;
    box-sizing: border-box;
}
#liucheng .textmains .buttom span{
    width: 70%;
}
.buttommai-main li>span{
    margin-top:3px;
}
.buttommai-main li.clearfix:hover{
    background: #e9f3ff;
}
.textmains{
    padding-left: 5px;
    box-sizing: border-box;
    text-align: left;
}
.textmains .top{
    height:23px;
    line-height: 23px;
    font-size: 12px;
    color: #363636;
}
.textmains .top a{
    color: #363636;
}
.textmains .buttom{
    height:23px;
    line-height: 23px;
    font-size: 12px;

}
.textmains .buttom span{
    width: 90%;
    overflow: hidden;
    display: inline-block;
    height: 18px;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.textmains .buttom span a{
    color: #1b5e8d;
}
.buttommaincontent{
    background: #fff;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin:0 1%;
}
.hide{
    display: none;
}
 .daibanbuttom .left p {
     font-size: 14pt;
 }

.daibanbuttom .leftOld p {
    font-size: 14pt;
}

.total .lis li:hover {
    background: #E8FCF0;
}
.daily li:hover h2{
    color: #005825!important;
}

.daily_all li {
    margin-top: 0;
}
.header ul li span:hover{
    border-radius: 4px;
    box-shadow: 0 0 5px #005825!important;
}
.richengHover:hover, .daibanHover:hover, .personInfo:hover, .rizhiHover:hover, .emailHover:hover {
    /* border: #fea8a8 1px solid; */
    box-shadow: 0 0 10px #005825;
    z-index: 99;
}

.personInfos:hover {
    background-color: #005825;
}

.cont_main > ul > li {
    background: #fff !important;
}

.cont_main ul.total > li {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.s_head, .notice_head, .wenjian_head {
    font-size: 12pt;
}

.total .bg_head {
    cursor: all-scroll;
}

.daibans {
    height: 262px;
    width: 100%;
    background: #fff;
}

.daibantop {
    height: 131px;
}

.fl {
    float: left;
}

.daibans li {
    list-style: none;
}

.daibanbuttom {
    height: 131px;
}

.contain {
    border: none;
}

.contain {
    height: 294px;
}

.s_container, .tainer, .s_cont, .daily {
    overflow-y: auto;
    height: 262px;
}

.e_mail li, .daily li, .tainer li, .new_total li {
    cursor: pointer;
}

.s_container ul li {
    font-size: 11pt;
    padding: 0 5px;
    /*width: auto;*/
    width: 100%;
    white-space: nowrap;
}

.chedule_li {
    width: 100%;
    height: 41px !important;
    cursor: pointer;
    /* font-size: 11pt; */
}

.chedule_li div {
    float: left;
    margin-top: 7px;
    font-size: 11pt;
}

.every_times {
    width: 21%;
    line-height: 27px;
    color: #919191;
    text-align: right;
}

.every_timess {
    width: 50%;
    line-height: 5px;
    color: #919191;
    text-align: right;

}

.c_head img {
    position: absolute;
    left: 7px;
    top: 8px;
}

.c_head a {
    display: block;
}

.richeng_title {
    width: 70%;
    line-height: 28px;
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.e_title {
    font-size: 11pt !important;
    height: 20px;
    width: 90% !important;
}

.d_title, .n_title {
    color:#000000;
    width: 90% !important;
}

.c_all {
    width: 35px;
    height: 20px;
    background: #f0f0f0;
    color: #666;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    border-radius: 4px;
    position: absolute;
    right: 169px;
    top: 2px;
}

.c_today {
    position: absolute;
    right: 129px;
    top: 2px;
}

.c_tom {
    position: absolute;
    right: 89px;
    top: 2px;
}

.c_nexttom {
    position: absolute;
    right: 49px;
    top: 2px;

}

.more {
    top: 2px;
    font-size: 12px;
}

.head_title, .c_today, .c_tom, .c_nexttom, .c_head a, .more_notice, .more_wenjian {
    border: #005825 1px solid;
}

.more_notice, .more_wenjian {
    margin: 4px 0 4px 4px;
}

.wenjian_list li, .more_notice, .more_wenjian {
    font-weight: 300;
}

.s_container ul li {
    font-size: 11pt;
    padding: 0 5px;
    width: auto;
}

.chedule_all .chedule_li div {
    font-size: 11pt;
}

.r_title {
    width: 45% !important;
    color: #1b5e8d;
}

.accessory, .n_accessory, .d_accessory {
    top: 30px;
}

.daibanbuttom .right .top {
    font-size: 14pt;
    font-weight: bold;
}

.workflowNum {
    font-size: 21px !important;
    color: #005825!important;
    line-height: 31px;
}

.workNums {
    font-size: 21px !important;
    color: #005825!important;
    line-height: 31px;
}

.workNum {
    font-size: 21px !important;
    color: #fd770c;
    line-height: 31px;
}

.every_logo {
    height: 117px
}

.every_logo img {
    margin-top: 9%;
}

.daibantop .right div > img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

.e_img img, .d_img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.n_imgs img {
    width: 6px;
    height: 6px;
    margin-top: 30px;
    margin-left: 10px;
}

.n_words {
    width: 86%;
    height: 100%;
    margin-left: 6%;
}

.noticeType {
    width: 50px !important;
    height: 24px !important;
    line-height: 24px;
    margin-left: 10px;
    border: #005825 1px solid !important;
}

.newType {
    height: 22px !important;
    line-height: 22px;
    margin-left: 10px;
    border: #005825 1px solid !important;
}

.selectTy {
    width: 18%;
    height: 85.5%;
    font-size: 7.5pt;
    margin: 1px 5px;
}

.main::-webkit-scrollbar, .people_wenjian::-webkit-scrollbar {
    height: 8px;
}

.main::-webkit-scrollbar-thumb, .people_wenjian::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
}

.chedule_li .dydiv {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 12px;
}

.taolunqu_title {
    line-height: 28px;
    margin-left: 6px;
}

.s_cont {
    height: 265px;
    overflow-y: auto;
}

.zhiweiOld {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.e_word, .d_word, .n_word {
    width: 86%;
    height: 100%;
    margin-left: 2%;
    position: relative;
}


.divTxt, .divTxt2, .divTxt3 {
    margin: 5px 10px;
}

ol {
    list-style-type: decimal;
    margin-left: 15px;
}

.state {
    height: 70px;
    margin-left: 15px;
    margin-top: 10px;
}

.pen {
    width: 20px;
    height: 20px;
}

#revise {
    background-position: 5px 10px;
    padding-left: 30px;
    width: 220px;
    background-image: url("/img/menu/myOA/signature.png");
}

.an {
    margin-top: 30px;
    width: 250px;
    height: 55px;
    position: fixed;
    border-top: 1px solid rgb(238, 238, 238);

}

#save {
    width: 75px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 162px;
}

#revise {
    outline: none;
}

.penn:hover {
    background-color: #E8FCF0;
}