<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.officesupplies.OfficeAllocateMapper" >
    <resultMap id="BaseResultMap" type="com.xoa.model.officesupplies.OfficeAllocate" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="PRO_TYPE_OUT" property="proTypeOut" jdbcType="INTEGER" />
        <result column="PRO_NAME_OUT" property="proNameOut" jdbcType="VARCHAR" />
        <result column="OFFICE_PROTYPE_OUT" property="offcieProTypeOut" jdbcType="VARCHAR" />
        <result column="PRO_ID_OUT" property="proIdOut" jdbcType="INTEGER" />
        <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
        <result column="PRO_TYPE_IN" property="proTypeIn" jdbcType="INTEGER" />
        <result column="PRO_NAME_IN" property="proNameIn" jdbcType="VARCHAR" />
        <result column="OFFICE_PROTYPE_IN" property="offcieProTypeIn" jdbcType="VARCHAR" />
        <result column="PRO_ID_IN" property="proIdIN" jdbcType="INTEGER" />
        <result column="AUDITER" property="auditer" jdbcType="VARCHAR" />
        <result column="ALLOCATE_DATE" property="allocateDate" jdbcType="DATE" />
        <result column="APPROVAL_STATUS" property="approvalStatus" jdbcType="VARCHAR" />
        <result column="ALLOCATE_NUM" property="allocateNum" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="OVERRULE_REMARK" property="overruleRemark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, PRO_TYPE_OUT,PRO_NAME_OUT,OFFICE_PROTYPE_OUT,PRO_ID_OUT,CREATOR,PRO_TYPE_IN,PRO_NAME_IN,OFFICE_PROTYPE_IN,PRO_ID_IN,ALLOCATE_DATE,AUDITER,APPROVAL_STATUS,ALLOCATE_NUM,REMARK,OVERRULE_REMARK
    </sql>
    <select id="selectByMap" resultMap="BaseResultMap" parameterType="map">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from office_allocate
        <where>
            <if test="userId!=null">
                and (
                CREATOR = #{userId}
                or AUDITER = #{userId}
                )
            </if>
            <if test="approvalStatus!=null and approvalStatus!=''">
                and APPROVAL_STATUS = #{approvalStatus}
            </if>
            <if test="subName!=null and subName!=''">
                and (PRO_NAME_OUT like concat('%',#{subName},'%')
                or PRO_NAME_IN like concat('%',#{subName},'%')
                )
            </if>
            <choose>
                <when test="beginDate!=null and endDate!=null">
                    and ALLOCATE_DATE between #{beginDate} and #{endDate}
                </when>
                <when test="beginDate!=null">
                    and ALLOCATE_DATE  &gt;=  #{beginDate}
                </when>
                <when test="endDate!=null">
                    and ALLOCATE_DATE  &lt;=  #{endDate}
                </when>
            </choose>
        </where>
    </select>
    <select id="selectById" resultMap="BaseResultMap" parameterType="integer">
        select
        <include refid="Base_Column_List"/>
        from office_allocate
       where ID = #{id}
    </select>

    <insert id="insertSelective" parameterType="com.xoa.model.officesupplies.OfficeAllocate" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into office_allocate
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="proTypeOut != null" >
                PRO_TYPE_OUT,
            </if>
            <if test="proNameOut != null" >
                PRO_NAME_OUT,
            </if>
            <if test="offcieProTypeOut != null" >
                OFFICE_PROTYPE_OUT,
            </if>
            <if test="proIdOut != null" >
                PRO_ID_OUT,
            </if>
            <if test="creator != null" >
                CREATOR,
            </if>
            <if test="proTypeIn != null" >
                PRO_TYPE_IN,
            </if>
            <if test="proNameIn != null" >
                PRO_NAME_IN,
            </if>
            <if test="offcieProTypeIn != null" >
                OFFICE_PROTYPE_IN,
            </if>
            <if test="proIdIN != null" >
                PRO_ID_IN,
            </if>
            <if test=" auditer != null" >
                AUDITER,
            </if>
            <if test=" allocateDate != null" >
                ALLOCATE_DATE,
            </if>
            <if test=" allocateNum != null" >
                ALLOCATE_NUM,
            </if>
            <if test=" remark != null" >
                REMARK,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="proTypeOut != null" >
                #{proTypeOut},
            </if>
            <if test="proNameOut != null" >
                #{proNameOut},
            </if>
            <if test="offcieProTypeOut != null" >
                #{offcieProTypeOut},
            </if>
            <if test="proIdOut != null" >
                #{proIdOut},
            </if>
            <if test="creator != null" >
                #{creator},
            </if>
            <if test="proTypeIn != null" >
                #{proTypeIn},
            </if>
            <if test="proNameIn != null" >
                #{proNameIn},
            </if>
            <if test="offcieProTypeIn != null" >
                #{offcieProTypeIn},
            </if>
            <if test="proIdIN != null" >
                #{proIdIN},
            </if>
            <if test=" auditer != null" >
                #{auditer},
            </if>
            <if test=" allocateDate != null" >
                #{allocateDate},
            </if>
            <if test=" allocateNum != null" >
                #{allocateNum},
            </if>
            <if test=" remark != null" >
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="com.xoa.model.officesupplies.OfficeAllocate">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update office_allocate
        <set >
            <if test="proTypeOut != null" >
                PRO_TYPE_OUT= #{proTypeOut},
            </if>
            <if test="proNameOut != null" >
                PRO_NAME_OUT= #{proNameOut},
            </if>
            <if test="offcieProTypeOut != null" >
                OFFICE_PROTYPE_OUT= #{offcieProTypeOut},
            </if>
            <if test="proIdOut != null" >
                PRO_ID_OUT= #{proIdOut},
            </if>
            <if test="creator != null" >
                CREATOR= #{creator},
            </if>
            <if test="proTypeIn != null" >
                PRO_TYPE_IN= #{proTypeIn},
            </if>
                PRO_NAME_IN= #{proNameIn},
            <if test="offcieProTypeIn != null" >
                OFFICE_PROTYPE_IN= #{offcieProTypeIn},
            </if>
                PRO_ID_IN= #{proIdIN},
            <if test=" auditer != null" >
                AUDITER= #{auditer},
            </if>
            <if test=" allocateDate != null" >
                ALLOCATE_DATE= #{allocateDate},
            </if>
            <if test=" allocateNum != null" >
                ALLOCATE_NUM= #{allocateNum},
            </if>
            <if test="approvalStatus != null" >
                APPROVAL_STATUS = #{approvalStatus},
            </if>
                REMARK = #{remark},
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateStatus" parameterType="com.xoa.model.officesupplies.OfficeAllocate">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update office_allocate
        <set >
            <if test="approvalStatus != null" >
                APPROVAL_STATUS = #{approvalStatus},
            </if>
            <if test="overruleRemark != null" >
                OVERRULE_REMARK = #{overruleRemark},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
</mapper>