<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/task
         http://www.springframework.org/schema/task/spring-task.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"

       default-lazy-init="true">

    <context:annotation-config />
    <context:component-scan base-package="com.xoa">

    </context:component-scan>
    <!--扫描注解 -->
    <!-- 支持异步方法执行 -->
    <!-- 缺省的异步任务线程池 -->
    <task:annotation-driven executor="asyncExecutor" />
    <task:executor id="asyncExecutor" pool-size="100-10000" queue-capacity="10" />
    <context:property-placeholder location="classpath:redis.properties" file-encoding="UTF-8"  ignore-unresolvable="true" />
    <context:property-placeholder  location="classpath:jdbc-sql.properties"/>



    <!--</bean>-->
    <bean id="xoa1001" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url1001}"/>
        <property name="username" value="${uname1001}"/>
        <property name="password" value="${password1001}"/>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${initialSize}"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="${maxActive}"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${minIdle}"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${maxWait}"/>

        <!-- <property name="poolPreparedStatements" value="true" /> <property name="maxPoolPreparedStatementPerConnectionSize" value="33" /> -->
        <!-- 验证连接有效与否的SQL，不同的数据配置不同 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <!-- 这里建议配置为TRUE，防止取到的连接不可用 -->
        <property name="testOnBorrow" value="${testOnBorrow}"/>
        <property name="testOnReturn" value="${testOnReturn}"/>
        <property name="testWhileIdle" value="${testWhileIdle}"/>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}"/>

        <!-- 打开removeAbandoned功能，超过时间限制是否回收 -->
        <property name="removeAbandoned" value="${removeAbandoned}"/>
        <!-- 超时时间1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="${logAbandoned}"/>
        <property name="filters" value="stat" />

    </bean>

    <bean id="dynDatasources" class="com.xoa.util.dataSource.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="xoa1001" value-ref="xoa1001"/>
            </map>
        </property>
        <!-- 默认为mysql -->
        <property name="defaultTargetDataSource" ref="xoa1001"/>
       <!-- <property name="defaultTargetDataSource" ref="xoaKB1001"/>-->
    </bean>
    <bean id="vendorProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="SQLServer">sqlserver</prop>
                <prop key="DB2">db2</prop>
                <prop key="Oracle">oracle</prop>
                <prop key="MySQL">mysql</prop>
                <!-- 达梦数据库驱动标识 -->
                <prop key="DM DBMS">dm</prop>
                <prop key="Kingbase">kingbase</prop>
            </props>
        </property>
    </bean>

    <bean id="databaseIdProvider" class="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
        <property name="properties" ref="vendorProperties"/>
    </bean>
    <!-- 配置sql会话工厂：SqlSessionFactoryBean -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynDatasources"/>
        <property name="databaseIdProvider" ref="databaseIdProvider"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:com/xoa/mapping/**/*.xml</value>
                <value>classpath:com/xoa/dev/**/mapping/*.xml</value>


            </list>
        </property>
        <property name="configLocation" value="classpath:config/spring/mybatis-config.xml"/>
    </bean>

    <!--<bean id="myInspectDatasource" class="com.xoa.util.dataSource.MyInspectDatasource" />-->
    <!--<aop:aspectj-autoproxy/>-->

    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.xoa.dao,com.xoa.dev.fileCabinet.dao,com.xoa.humanResource.dao,com.xoa.dev.**.dao,com.xoa.edu.**.dao,com.xoa.jdyproject.**.dao,com.xoa.biz.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
    </bean>


    <!--签到定时任务-->
    <bean id="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"/>    <!--线程池维护线程的最小数量. -->
        <property name="keepAliveSeconds" value="200"/> <!--空闲线程的存活时间. -->
        <property name="maxPoolSize" value="10"/> <!--线程池维护线程的最大数量. -->
        <property name="queueCapacity" value="60"/> <!-- 队列最大长度 >=mainExecutor.maxSize -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dynDatasources"/>
    </bean>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>


    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>
