<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.equipment.EquipmentCapysMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.equipment.EquipmentCapys" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CAPY_ID" property="capyId" jdbcType="INTEGER" />
    <result column="EQUIP_ID" property="equipId" jdbcType="INTEGER" />
    <result column="CAPY_INITIAL_VALUE" property="capyInitialValue" jdbcType="VARCHAR" />
    <result column="CALIBRATION_VALUE" property="calibrationValue" jdbcType="VARCHAR" />
    <result column="PROTOCOL_FIELD" property="protocolField" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, CAPY_ID, EQUIP_ID, CAPY_INITIAL_VALUE, CALIBRATION_VALUE
  </sql>

  <resultMap id="BaseResultNewMap" type="com.xoa.model.equipment.EquipmentCapys" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CAPY_ID" property="capyId" jdbcType="INTEGER" />
    <result column="EQUIP_ID" property="equipId" jdbcType="INTEGER" />
    <result column="CAPY_INITIAL_VALUE" property="capyInitialValue" jdbcType="VARCHAR" />
    <result column="CALIBRATION_VALUE" property="calibrationValue" jdbcType="VARCHAR" />
    <result column="CAPY_NAME" property="capyName" jdbcType="VARCHAR" />
    <result column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR" />
    <result column="UNIT_LIST" property="unitIds" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectCapysToModelJson" parameterType="map" resultMap="BaseResultMap">
    SELECT
        lecs.*,
        lec.PROTOCOL_FIELD
    FROM
        lims_equip_capys lecs
        LEFT JOIN lims_equip_capy lec ON lecs.CAPY_ID = lec.CAPY_ID
    WHERE
        lecs.EQUIP_ID = #{equipId}
  </select>


  <select id="selectAll" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from lims_equip_capys

  </select>

  <select id="selectByCapyId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
        <include refid="Base_Column_List"/>
    from lims_equip_capys
    where CAPY_ID=#{capyId,jdbcType=INTEGER}
  </select>

  <select id="selectByEquipId" resultMap="BaseResultNewMap" parameterType="java.lang.Integer" >
    SELECT
        ec.ID, ec.CAPY_ID, ec.EQUIP_ID, ec.CAPY_INITIAL_VALUE, ec.CALIBRATION_VALUE,ecs.CAPY_NAME,ecs.TYPE_CODE
    FROM
        lims_equip_capy AS ecs
        LEFT JOIN lims_equip_capys AS ec ON ecs.CAPY_ID = ec.CAPY_ID
    WHERE
        ec.EQUIP_ID =#{equipId,jdbcType=INTEGER}
  </select>
    <select id="selectByEquipIdandtypeCode" resultMap="BaseResultNewMap" parameterType="map" >
        SELECT
        ec.ID, ec.CAPY_ID, ec.EQUIP_ID,ec.CAPY_INITIAL_VALUE, ec.CALIBRATION_VALUE,ecs.CAPY_NAME,ecs.TYPE_CODE
      ,ecs.UNIT_LIST
        FROM
        lims_equip_capy AS ecs
        LEFT JOIN lims_equip_capys AS ec ON ecs.CAPY_ID = ec.CAPY_ID
        WHERE
        ec.EQUIP_ID =#{equipId,jdbcType=INTEGER}

        <if test="typeCode!=null">
            AND   ecs.TYPE_CODE=#{typeCode}
        </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from lims_equip_capys
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="countEquipmentBcapyId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(ID) total from lims_equip_capys
    where CAPY_ID=#{capyId,jdbcType=INTEGER}
  </select>

  <select id="countEquipmentByEquipId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(ID) total from lims_equip_capys
    where EQUIP_ID=#{equipId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lims_equip_capys
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByEquipIdAndCapyId" parameterType="map">
    delete from lims_equip_capys
    where CAPY_ID=#{capyId}
    and EQUIP_ID =#{equipId}

  </delete>
  <insert id="insert" parameterType="com.xoa.model.equipment.EquipmentCapys" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into lims_equip_capys (ID, CAPY_ID, EQUIP_ID, 
      CAPY_INITIAL_VALUE, CALIBRATION_VALUE)
    values (#{id,jdbcType=INTEGER}, #{capyId,jdbcType=INTEGER}, #{equipId,jdbcType=INTEGER}, 
      #{capyInitialValue,jdbcType=VARCHAR}, #{calibrationValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xoa.model.equipment.EquipmentCapys" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into lims_equip_capys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="capyId != null" >
        CAPY_ID,
      </if>
      <if test="equipId != null" >
        EQUIP_ID,
      </if>
      <if test="capyInitialValue != null" >
        CAPY_INITIAL_VALUE,
      </if>
      <if test="calibrationValue != null" >
        CALIBRATION_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="capyId != null" >
        #{capyId,jdbcType=INTEGER},
      </if>
      <if test="equipId != null" >
        #{equipId,jdbcType=INTEGER},
      </if>
      <if test="capyInitialValue != null" >
        #{capyInitialValue,jdbcType=VARCHAR},
      </if>
      <if test="calibrationValue != null" >
        #{calibrationValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xoa.model.equipment.EquipmentCapys" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update lims_equip_capys
    <set >
      <if test="capyId != null" >
        CAPY_ID = #{capyId,jdbcType=INTEGER},
      </if>
      <if test="equipId != null" >
        EQUIP_ID = #{equipId,jdbcType=INTEGER},
      </if>
      <if test="capyInitialValue != null" >
        CAPY_INITIAL_VALUE = #{capyInitialValue,jdbcType=VARCHAR},
      </if>
      <if test="calibrationValue != null" >
        CALIBRATION_VALUE = #{calibrationValue,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xoa.model.equipment.EquipmentCapys" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update lims_equip_capys
    set CAPY_ID = #{capyId,jdbcType=INTEGER},
      EQUIP_ID = #{equipId,jdbcType=INTEGER},
      CAPY_INITIAL_VALUE = #{capyInitialValue,jdbcType=VARCHAR},
      CALIBRATION_VALUE = #{calibrationValue,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>