<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.wages_manage.WagesPrivMapper">
    <resultMap id="BaseResultMap" type="com.xoa.model.wages_manage.WagesPriv">
        <id column="PAY_PRIV" jdbcType="INTEGER" property="payPriv"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="SUBORDINATE_USER_ID" jdbcType="VARCHAR" property="subordinateUserId"/>
        <result column="SUBORDINATE_DEPT_ID" jdbcType="VARCHAR" property="subordinateDeptId"/>
    </resultMap>

    <insert id="addWagesPriv" parameterType="com.xoa.model.wages_manage.WagesPriv">
        insert into wages_priv(USER_ID, SUBORDINATE_USER_ID, SUBORDINATE_DEPT_ID)
        values (#{userId}, #{subordinateUserId}, #{subordinateDeptId})
    </insert>

    <delete id="deleteWagesPriv" parameterType="java.lang.Integer">
        delete
        from wages_priv
        where PAY_PRIV = #{payPriv}
    </delete>

    <update id="updateWagesPriv" parameterType="com.xoa.model.wages_manage.WagesPriv">
        update wages_priv
        <set>
            <if test="userId != null">
                USER_ID = #{userId},
            </if>
            <if test="subordinateUserId != null">
                SUBORDINATE_USER_ID = #{subordinateUserId},
            </if>
            <if test="subordinateDeptId != null">
                SUBORDINATE_DEPT_ID = #{subordinateDeptId}
            </if>
        </set>
        where PAY_PRIV = #{payPriv}
    </update>

    <select id="selectAllWagesPriv" resultMap="BaseResultMap" parameterType="java.util.Map">
        select *
        from wages_priv
        <where>
            <if test="payPriv != null and payPriv != ''">
                PAY_PRIV = #{payPriv}
            </if>
        </where>
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
       select * from wages_priv where USER_ID = #{userId}
    </select>
</mapper>